.select-block label,
.input-block label,
.textarea-block{
    font-size: 1.3rem;
    color: var(--color-text-base);
    margin-top: .2rem;
    margin-bottom: .1rem;
}

.select-block label i,
.input-block label i,
.textarea-block i{
    font-style: italic;
    font-size: 1.1rem;
    color: var(--color-text-complement);
}

.input-block input,
.select-block select,
.textarea-block textarea {
    width:  100%;
    height: 3rem;
    margin-top: .2rem;
    margin-bottom: .1rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    font: 1.3rem Archivo;
}



.input-block+.input-block,
.input-block+.textarea-block,
.select-block+.input-block {
    margin-top: .2rem;
    margin-bottom: .1rem;

}

.textarea-block textarea{
    padding: 1.2rem;
    height: 16rem;
    resize: vertical;
}




.input-block, 
.select-block,
.textarea-block  {
    position: relative;
}



label small {
    font-size: 1rem;
    padding-left: 2rem;
    color: var(--color-small-info)
}

label small i{
    font-style: italic;
    font-size: .8rem;
    padding-left: 2rem;
    color: var(--color-small-info)
}


small {
    font-size: 1.1rem;
    padding-left: 1rem;
    color: var(--color-small-info)
}

small i{
    font-style: italic;
    font-size: 1rem;
    padding-left:1rem;
    color: var(--color-small-info)
}

small.small-message {
    font-size: 1.1rem;
    padding-left: 1rem;
    font-weight: 600;
    color: var(--color-text-message)!important;
}

small.small-message i{
    font-style: italic;
    font-size: 1rem;
    font-weight: 600;
    padding-left:1rem;
    color: var(--color-text-message-light)
}

